<!doctype html>
<html>
	<head>
	<title>Login</title>
	</head>
	<body>
        <div id="message">
          {%if message%}
          {{message}}
          {%endif%}
        </div>
		<form action="/login" method="post">
            <label for="email">E-mail</label>
            <input type="text" name="email" id="email" tabstop=1 autofocus/>
            <label for="password">Password</label>
			<input type="password" name="password" id="password" tabstop=2/>
			<input type="submit" value="Login" tabstop=3/>
		</form>
	</body>
</html>
